.row-fluid
  .span5
    .hero-unit
      %h1 Welcome!
      %p Start saving money on gas today!
      %p
        = link_to 'Sign up now', new_user_registration_path, class: 'btn btn-primary btn-large'
