.row-fluid
  -unless user_signed_in?
    .span5
      .hero-unit
        %h1 Welcome!
        %p Start saving money on gas today!
        %p
          = link_to 'Sign up now', new_user_registration_path, class: 'btn btn-primary btn-large'
  -else
    -if current_user.vehicles.any?
      = render current_user.vehicles
    -else 
      .span12
        .hero-unit
          %h1 Welcome, #{current_user}!!
          %p We're happy to see you. Get started now by adding your first vehicle.
          %p= link_to "Manage vehicles", vehicles_path, class: 'btn btn-primary btn-large'
